/* --- Colours --- */
@burgundy: #dd2651;
@burgundyDark: darken(#dd2651, 10%);
@blueDark: #414959;

@white: #fff;
@greyLight: #eee;
@grey: #aab1bc;
@black: #000;

.bg-white {
  background-color: @white !important;
}
.bg-greylight {
  background-color: @greyLight !important;
}
.bg-greymedium {
  background-color: lighten(@grey, 15%) !important;
}
.bg-grey {
  background-color: @grey !important;
}
.bg-grey p {
  color: @blueDark !important;
}
.bg-winered {
  background-color: @burgundy !important;
  color: @white;
}
.bg-winereddark {
  background-color: @burgundyDark !important;
  color: @white;
}
.bg-darkblue {
  background-color: @blueDark !important;
  color: @white;
}
.bg-darkblue p,
.bg-darkblue h4,
.bg-winered p,
.bg-winereddark p {
  color: @white;
}
.bg-gradient1 {
  .gradient(transparent, fade(@blueDark, 0%), fade(@blueDark, 60%) );
}
.bg-gradient2 {
  .gradient(transparent, fade(@blueDark, 60%), fade(@blueDark, 0%) );
}
.c-white {
  color: @white !important;
}
.c-white-transp {
  color: fade(@white, 50%) !important;
}
.c-greylight {
  color: @greyLight !important;
}
.c-greymedium {
  color: lighten(@grey, 15%);
}
.c-grey {
  color: @grey !important;
}
.c-winered {
  color: @burgundy !important;
}
.c-darkblue {
  color: @blueDark !important;
}
